<mat-toolbar color="primary" class="navbar">
    <div class="container">
        <button mat-stroked-button (click)="logout()">Logout</button>
    <span class="spacer"></span>
       
    <button mat-button routerLink="/users" *ngIf="this.isAdmin">Usuarios</button>
    <button mat-button routerLink="/products">Productos</button>
    <button mat-button routerLink="/orders">Órdenes de compra</button>
    <button mat-button routerLink="/stores" *ngIf="this.isAdmin">Tiendas</button>
    </div>
  </mat-toolbar>
  