<mat-toolbar color="primary" class="navbar">
    <div class="container">
        <span class="username-display" *ngIf="username"><mat-icon style="position: relative; top: 6px;">account_box</mat-icon>  <strong>{{ username }}</strong> </span>

        <button mat-button routerLink="/users" *ngIf="this.isAdmin">Usuarios</button>
        <button mat-button routerLink="/products">Productos</button>
        <button mat-button routerLink="/orders">Órdenes de Compra</button>
        <button mat-button color="secondary" routerLink="/reports">Informes<mat-icon>fiber_new</mat-icon></button>
        <button mat-button color="secondary" routerLink="/catalogs"
            *ngIf="!isAdmin">Catálogos<mat-icon>fiber_new</mat-icon></button>
        <button mat-button routerLink="/news" *ngIf="this.isAdmin">Novedades</button>
        <button mat-button routerLink="/stores" *ngIf="this.isAdmin">Tiendas</button>

        <span class="spacer"></span>
        <button mat-stroked-button (click)="logout()">Logout</button>
    </div>
</mat-toolbar>