.navbar {
  position: absolute;
  top: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar button {
  font-size: 15px;
  margin-right: 8px;
}


.spacer {
  flex: 1;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
  margin-right: 8px;
}

.username-display {
  margin-right: 8px;
  font-size: 14px;
  color: #fff;
}