<h2 mat-dialog-title>{{isEdit ? 'Editar' : 'Crear'}} Orden de Compra</h2>

<mat-dialog-content>
  <form [formGroup]="orderForm">
    <!-- Estado -->
    <mat-form-field appearance="outline">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="estado">
        <mat-option value="SOLICITADA">Solicitada</mat-option>
        <mat-option value="RECHAZADA">Rechazada</mat-option>
        <mat-option value="ACEPTADA">Aceptada</mat-option>
        <mat-option value="RECIBIDA">Recibida</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Observaciones -->
    <mat-form-field appearance="outline">
      <mat-label>Observaciones</mat-label>
      <textarea matInput formControlName="observaciones"></textarea>
    </mat-form-field>

    <!-- Orden de Despacho -->
    <mat-form-field appearance="outline">
      <mat-label>Orden de Despacho ID</mat-label>
      <input matInput formControlName="id_orden_despacho">
    </mat-form-field>

    <!-- Fecha de Solicitud -->
    <mat-form-field appearance="outline">
      <mat-label>Fecha de Solicitud</mat-label>
      <input matInput formControlName="fechaSolicitud" readonly>
    </mat-form-field>

    <!-- Fecha de Recepción -->
    <mat-form-field appearance="outline">
      <mat-label>Fecha de Recepción</mat-label>
      <input matInput formControlName="fechaRecepcion" readonly>
    </mat-form-field>

    <mat-divider></mat-divider>

    <h6>Selección de items</h6>

    <!-- Producto -->
    <mat-form-field appearance="outline" *ngIf="!this.isEdit">
      <mat-label>Producto</mat-label>
      <mat-select formControlName="codigoArticulo">
        <mat-option *ngFor="let producto of productos" [value]="producto.codigo">
          {{ producto.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Color -->
    <mat-form-field appearance="outline">
      <mat-label>Color</mat-label>
      <input matInput formControlName="color">
    </mat-form-field>

    <!-- Talle -->
    <mat-form-field appearance="outline">
      <mat-label>Talle</mat-label>
      <input matInput formControlName="talle">
    </mat-form-field>

    <!-- Cantidad (Selector Numérico) -->
    <mat-form-field appearance="outline">
      <mat-label>Cantidad</mat-label>
      <input matInput formControlName="cantidadSolicitada" type="number" min="0">
      <mat-error *ngIf="orderForm.get('cantidadSolicitada')?.hasError('required')">
        La cantidad es requerida
      </mat-error>
      <mat-error *ngIf="orderForm.get('cantidadSolicitada')?.hasError('min')">
        La cantidad no puede ser negativa
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onClose()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="orderForm.invalid">Guardar</button>
</mat-dialog-actions>
