form {
    padding: 15px;
}

h2 {
    margin: 0.5em;
    margin-bottom: 0;
}

mat-form-field {
    display: flex;
}

.item-container {
    display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

h6 {
    padding-top: 15px;
}

.custom-dialog-container {
    width: 1110px !important;
  }
  