<mat-card>
    <mat-toolbar color="primary">
      <span>Novedades del Proveedor</span>
    </mat-toolbar>
    
    <mat-table [dataSource]="novedades" class="mat-elevation-z8">
      <ng-container matColumnDef="codigoProducto">
        <mat-header-cell *matHeaderCellDef> Código Producto </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.codigoProducto}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="descripcion">
        <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="color">
        <mat-header-cell *matHeaderCellDef> Color </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.color}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="talle">
        <mat-header-cell *matHeaderCellDef> Talle </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.talle}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="cantidad">
        <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.cantidad}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="fecha">
        <mat-header-cell *matHeaderCellDef> Fecha de Ingreso </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.fecha | date}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="aceptarNovedad(element.codigoProducto)">
            Aceptar
          </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card>
  