<mat-toolbar class="mat-elevation-z3">
  <button mat-mini-fab *ngIf="showHamburgerMenu" (click)="drawer.toggle()" >
        <mat-icon>menu</mat-icon>
    </button>
    <h3>stockearte</h3>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav"  mode="side" [style.width]="'250px'" >
    <app-navbar *ngIf="showHamburgerMenu"></app-navbar>
  </mat-drawer>

  <div mat-drawer-content class="content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
