@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.content {
  padding: 24px;
}

.mat-toolbar {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  padding: 10px 53px;
}

.toolbar-content {
  display: flex;
  align-items: center;
  margin-left: auto;
}

h3 {
  font-family: "Roboto Slab", serif !important;
  font-optical-sizing: auto !important;
  font-weight: 600 !important;
  font-style: normal;
  user-select: none;
  margin-left: 16px;
}

.user-store {
  font-size: 16px;
  margin-left: 32px;
  margin-right: auto;
  color: white;
  display: flex;
  align-items: center;
  border: 1.1px solid;
  border-radius: 5px;
  padding: 5px 10px;
  border-color: rgba(255, 255, 255, 0.432);
}