@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.content {
  padding: 24px;
}

.mat-toolbar {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  padding: 10px 53px;
}

h3 {
  font-family: "Roboto Slab", serif !important;
  font-optical-sizing: auto !important;
  font-weight: 600 !important;
  font-style: normal;
  user-select: none;
}
