<div class="login-container">
    
    <div class="content-container">
        
        <mat-card class="mat-elevation-z8" >
            <h4>¡Bienvenido de vuelta!<button mat-icon-button matTooltip="Usuario ADMIN: u- admin p- admin">
                <mat-icon>info</mat-icon>
              </button></h4> 
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <input matInput formControlName="username">
                    <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
                        El nombre de usuario es requerido
                      </mat-error>
              
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" >
                    <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
                        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                        La contraseña es requerida
                    </mat-error>
                </mat-form-field>

                <button mat-stroked-button type="submit">Ingresar</button>
                </form>
                <p class="register-notice">¿Primera vez que ingresas?<button mat-button class="register-btn" (click)="register()">Registrate</button></p>
        </mat-card>
    </div>
</div>