<div class="table-container">
    <div class="content-container">
      <div class="add-search">
        <button mat-button (click)="createOrder()">
          <mat-icon>add</mat-icon> Agregar Orden de Compra
        </button>
      </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let order"> {{order.id}} </td>
        </ng-container>

        <!-- Cod Articulo -->
        <ng-container matColumnDef="codigoArticulo">
          <th mat-header-cell *matHeaderCellDef> Código de Producto </th>
          <td mat-cell *matCellDef="let order"> {{order.codigoArticulo}} </td>
        </ng-container>
  
        <!-- Estado Column -->
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let order"> {{order.estado}} </td>
        </ng-container>
  
        <!-- Observaciones Column -->
        <ng-container matColumnDef="observaciones">
          <th mat-header-cell *matHeaderCellDef> Observaciones </th>
          <td mat-cell *matCellDef="let order"> {{order.observaciones ? order.observaciones : "-"}} </td>
        </ng-container>
  
        <!-- Orden de Despacho Column -->
        <ng-container matColumnDef="ordenDeDespacho">
          <th mat-header-cell *matHeaderCellDef> Orden de Despacho </th>
          <td mat-cell *matCellDef="let order"> {{order.id_orden_despacho  ? order.id_orden_despacho : "-"}} </td>
        </ng-container>
  
        <!-- Fecha de Solicitud Column -->
        <ng-container matColumnDef="fechaSolicitud">
          <th mat-header-cell *matHeaderCellDef> Fecha de Solicitud </th>
          <td mat-cell *matCellDef="let order"> {{order.fechaSolicitud | date}} </td>
        </ng-container>
  
        <!-- Fecha de Recepción Column -->
        <ng-container matColumnDef="fechaRecepcion">
          <th mat-header-cell *matHeaderCellDef> Fecha de Recepción </th>
          <td mat-cell *matCellDef="let order"> {{order.fechaRecepcion ? (order.fechaRecepcion | date) : "-"}} </td>
        </ng-container>
  
        <!-- Edit Column -->
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let order">
            <button mat-icon-button (click)="editOrder(order)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <!-- Delete Column -->
        <ng-container matColumnDef="erase">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let order">
            <button mat-icon-button (click)="deleteOrder(order)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <!-- Header Row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- Data Rows -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  