.table-container {
    display: flex;
    justify-content: center;
    height: calc(100vh - 112px);
    background-color: transparent;  /* Fondo transparente */
  }
  
  .content-container {
    padding: 2px;
    width: 80%;  /* Ancho más grande */
    max-width: 1200px;  /* Ancho máximo para pantallas grandes */
  }
  
  table {
    width: 100%;  /* Ancho completo dentro del contenedor */
    color: #fff;  /* Texto en blanco */
    padding: 20px;
  }
 
  /* Opcional: Ajusta el tamaño del texto si es necesario */
  .mat-cell {
    font-size: 16px;  /* Aumenta el tamaño del texto */
  }